<h1>{{ title }}</h1>
<p>Welcome to {{ title }}!</p>
<button type="button" class="btn btn-success" onclick=setText()>Show</button>
<button type="button" class="btn btn-primary" onclick=resetText()>Reset</button>
<p id="text">text</p>
