<div class="col-md-6">
  <div class="row">
    <h1 class="page-title">{{ title }}</h1>
  </div>
</div>
<div class="col-md-6">
  <div class="row">
    <div class="col-md-3" id="page-logo">
      <a href="https://www.javascript.com/try" class="thumbnail">
        <img src="images/logo-express.png" alt="more here...">
      </a>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="row">
    <p>Welcome to {{ title }}!</p>
    <button type="button" class="btn btn-success" onclick=setText()>Show</button>
    <button type="button" class="btn btn-primary" onclick=resetText()>Reset</button>
    <p id="text">text</p>
  </div>
</div>