<h1>{{ title }}</h1>
<p>Welcome to {{ title }}!</p>
<button type="button" class="btn btn-success" onclick=setText()>Show</button>
<button type="button" class="btn btn-primary" onclick=resetText()>Reset</button>
<p id="text">text</p>
<div class="row">
  <div class="col-xs-6 col-md-3" id="page-logo">
    <a href="" class="thumbnail">
      <img src="images/logo-express.png" alt="...">
    </a>
  </div>
</div>
