<div class="col-md-6">
  <div class="row">
    <h1 class="page-title">{{ title }}</h1>
  </div>
</div>
<div class="col-md-6">
  <div class="row">
    <div class="col-md-3" id="page-logo">
      <a href="https://www.javascript.com/try" class="thumbnail">
        <img src="images/logo-express.png" alt="more here...">
      </a>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="row">
    <p>Welcome to {{ title }}!</p>
    <button type="button" class="btn btn-success" onclick=setText()>Show</button>
    <button type="button" class="btn btn-primary" onclick=resetText()>Reset</button>
    <p id="text">text</p>
  </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="row">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.<code>this is a HTML5 code tag</code>Mauris ut ligula dolor. 
      Nunc eu risus vulputate, auctor nisi in, cursus purus. Duis ac ultrices leo. 
      Cras id faucibus orci. Vestibulum quam diam, condimentum quis nibh ut, maximus dapibus nulla. 
      Aliquam sit amet orci non justo luctus consequat ut quis urna. Curabitur a auctor massa, sit amet venenatis dolor.
    </p>
  </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="row">
   <p>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit.<span class="label label-default">this is bs3 label:default</span>ut ligula dolor. 
     Nunc eu risus vulputate, auctor nisi in, cursus purus. Duis ac ultrices leo. 
     Cras id faucibus orci. Vestibulum quam diam, condimentum quis nibh ut, maximus dapibus nulla. 
     Aliquam sit amet orci non justo luctus consequat ut quis urna. Curabitur a auctor massa, sit amet venenatis dolor.
    </p>
  </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="row">
    
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.<code class="my-code">this is <strong>MY</strong> HTML5 label</code>ut ligula dolor. 
      Nunc eu risus vulputate, auctor nisi in, cursus purus. Duis ac ultrices leo. 
      Cras id faucibus orci. Vestibulum quam diam, condimentum quis nibh ut, maximus dapibus nulla. 
      Aliquam sit amet orci non justo luctus consequat ut quis urna. Curabitur a auctor massa, sit amet venenatis dolor.
    </p>   
  </div>
</div>


