/* @body: background, defaults */
body {
  padding: 50px 100px 50px 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html body {
  background: url('../images/light-pattern.jpg');
  z-index: 0;
}

/* @content */
.my-content {
  margin: 25px 0 25px 0;
  border: 1px solid #DDD;
  min-height: 100%;
  padding: 25px;
  z-index: 1;
  background: #FFF;
  box-shadow: 0 0 10px #45484d;
}

#logo-js {
  height: 245px;
  width: 150px;
}

/* @partials: header, footer */
footer {
  height: 50px;
  border: 1px solid #45484d;
  padding: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100% !important;
  background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
}

.navbar-inverse {
  background: -webkit-linear-gradient(top, #000000 0%,#45484d 100%);
}

/* @links */
a {
  color: #00B7FF;
}