/* @PARTIALS: footer */
footer {
  height: 50px;
  border: 1px solid #45484d;
  padding: 5px;
  margin-top: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100% !important;
  background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
}